/* for preventing table overflow-x  */
.gVZomo{
  overflow-x: hidden !important  
}

/* for table body scroll overflow-y */
.cpRjbT
{
  max-height : 55vh !important
}


.eIziEy{
  display: none !important;
}